
func (inst * {{.StructName}}) {{.MethodName}} (context application.InstanceContext) {{.ReturnExpr}} {
	list1 := inst.{{.SelectorName}}.GetList(context)
	list2 := make([]{{.ElementType}}, 0, len(list1))
	for _, item1 := range list1 {
		item2, ok := item1.({{.ElementType}})
		if ok {
			list2 = append(list2, item2)
		}
	}
	return list2
}
